main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0;
  background: #022b3a;
  width: 600px;
  height: 600px;
}

app-square {
  border: 1px solid gray;
  height: 200px;
}
