main {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 0;
  width: 100%;
  margin: auto;
}

app-square {
  border: 1px solid gray;
  aspect-ratio: 1 / 1;
  width: 100%;
}

@media (max-width: 449px) {
  main {
    grid-template-columns: repeat(3, minmax(100%, 1fr));
  }
}

@media (max-width: 500px) {
  main {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (min-width:500px) and (max-width: 768px) {
  main {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

@media (min-width:768px) and (max-width: 1440px) {
  main {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
